body {
    margin: 0;
    background-color: #EDE8F5;
}

.navbar {
    background-color: #ADBBDA;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 11vh;
}

.nav-item {
    margin: 0;
    margin-top: 2vh;
    padding: 10px;
    border: none;
    background-color: #ADBBDA;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    cursor: pointer;
    transition: color 0.5s ease;
    color: black;
    text-decoration: none;
}
.nav-icon {
    display: none;
    width: 5vh;
    height: 5vh;
}

.nav-item:hover {
    color: #7091E6;
}

@media screen and (max-width: 600px) {
    .nav-text {
        display: none;
    }
    .nav-icon {
        display: block;
    }
}

img {
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
}

.img {
    margin: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    word-spacing: 2px;
    font-size: larger;
    margin: 5vh;
}
.sigma {
    margin: 2vh;
}

.count {
    margin: 5vh;
}

.skill-tree {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.skill-tree img {
    height: 16vh;
    width: 16vh;
    margin-right: 3vh; 
}

.progress-bar {
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
}

.progress {
    width: 100%;
    height: 4vh;
    background-color: #ADBBDA;
    border-radius: 2vh;
    overflow: hidden;
    margin-left: 2vh;
}
.progress-value {
    height: 100%;
    background-color: #8697C4;
    transition: width 0.5s ease;
}

.CPP {
    width: 60%;
}
.JS {
    width: 30%;
}
.HTML {
    width: 75%;
}
.PYTHON {
    width: 40%;
}
.C {
    width: 20%;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .container {
    opacity: 0; 
    animation: fadeIn 2s forwards;
  }
  
.project {
    margin: 3vh;
    display: flex;
    justify-content: center;
}

.project img {
    margin-right: 3vh;    
    margin-left: 8vh;
    border-radius: 0;
    width: 23vh;
}

.desc {
    font-size: large;
    margin-top: 8vh;
    float: left;
}

.Contacts {
    margin-top: 6vh;
    display: flex;
    justify-content: center;
}
